@model IEnumerable<PortalEscola.WEB.Models.Curso>

@{
    ViewBag.Title = "Cadastrar Curso";
}

<h2>Curso</h2>

<p>
    @Html.ActionLink("Cadastrar novo curso", "Create")
</p>

@using (Html.BeginForm())
{
    <p>Encontre  curso pelo nome: @Html.TextBox("pesqPalavra")
    <input type="submit" value="Pesquisar" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nome do Curso", "Index", new { palavraNomeCredit = ViewBag.NomeCursoSel })
        </th>
        <th>
            @Html.ActionLink("Creditos", "Index", new { palavraNomeCredit = ViewBag.CreditCursoSel })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creditos)
            </td>
            <td>
                @Html.ActionLink("Editar curso", "Edit", new { id = item.CursoId }) |
                @Html.ActionLink("Detalhes do curso", "Details", new { id = item.CursoId }) |
                @Html.ActionLink("Excluir curso", "Delete", new { id = item.CursoId })
            </td>
        </tr>
    }

</table>
